body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fffbf7;
}

#logo {
	display: flex;
}
#square {
	padding: 1em;
	min-height: 20px;
	min-width: 20px;
	flex: 0;
	margin-top: 1.0em;
	margin-right: 0.9em;
	background-color: orange;
	width: 20px;
	height: 20px;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease;
}

#square:hover {
	transform: rotate(40deg);

}
